@use '@/app/_styles/tokens.scss' as tokens;
@use '@/app/_styles/mixins.scss' as mixins;

.hero {
    width: 100%;
    padding: 0 tokens.$spacing-5;

    @media screen and (max-width: tokens.$breakpoint-md) {
        padding: 0 tokens.$spacing-3;
    }

    .heroWrapper {
        max-width: 1600px;
        min-height: 100vh;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: tokens.$spacing-4;

        @media screen and (max-width: tokens.$breakpoint-lg) {
            flex-direction: column;
        }

        @media screen and (max-width: tokens.$breakpoint-md) {
            gap: tokens.$spacing-3;
        }

        .heroTitle {
            flex: 2;

            height: 100vh;
            padding: tokens.$spacing-7 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @media screen and (max-width: tokens.$breakpoint-lg) {
                flex: 4;
                align-items: center;
                text-align: center;
            }

            @media screen and (max-width: tokens.$breakpoint-sm) {
                justify-content: flex-end;
                padding: tokens.$spacing-4 0;
            }

            .titleMask {
                display: block;
                overflow: hidden;
                position: relative;
                
                padding-top: 10px;
                margin-top: -10px;

                span {
                    display: block;
                    will-change: transform, opacity, filter;
                }
            }
        }

        .heroContent {
            flex: 1;

            height: 100vh;
            padding: tokens.$spacing-7 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: tokens.$spacing-4;

            @media screen and (max-width: tokens.$breakpoint-lg) {
                flex: 1;
                padding: 0 0 tokens.$spacing-4 0;

                align-items: center;
                text-align: center;
            }

            .heroContentText {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: tokens.$spacing-1;

                @media screen and (max-width: tokens.$breakpoint-lg) {
                    align-items: center;
                    text-align: center;
                }

                .contentMask {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    
                    padding-top: 10px;
                    margin-top: -10px;

                    span {
                        display: block;
                        will-change: transform, opacity, filter;
                    }
                }
            }

            .heroContentButton {
                position: relative !important;
                width: 100px;
                height: 100px;
                padding: 0;
                margin: 0;

                all: unset;
                border: none;
                cursor: pointer;

                transition: transform .2s ease;

                &:hover {
                    transform: scale(1.05);
                }

                .heroContentMouse {
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    padding: 0;

                    span {
                        position: relative;

                        display: block;
                        width: 20px;
                        height: 30px;
                        overflow: hidden;

                        border-radius: 15px;
                        border: 1px solid rgba(tokens.$black, 0.2);
                        background: transparent;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 2px;
                            right: 0;
                            left: 0;

                            width: 2px;
                            height: 2px;
                            margin: 0 auto;

                            background: rgba(tokens.$black, 0.2);
                            animation: cursor-mouse 2s ease-in-out .1s infinite;
                        }
                    }
                }
            }
        }
    }
}

@keyframes cursor-mouse {
    0% {
        opacity: 0;
        top: 2px
    }

    50% {
        top: 8px
    }

    to {
        opacity: 1;
        top: 2px
    }
}