@use '@/app/_styles/tokens.scss' as tokens;
@use '@/app/_styles/mixins.scss' as mixins;

.hero {
    width: 100%;
    height: auto;
    padding: tokens.$spacing-8 tokens.$spacing-5 0 tokens.$spacing-5;


    @media screen and (max-width: tokens.$breakpoint-md) {
        padding: tokens.$spacing-8 tokens.$spacing-3 0 tokens.$spacing-3;
    }

    .heroWrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: tokens.$spacing-2;

        .heroTitle {
            width: 100%;
            max-width: 908px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: tokens.$spacing-2;

            button {
                border: none;
                padding: 0;
            }

            .titleMask {
                display: block;
                overflow: hidden;
                position: relative;
                
                padding-top: 10px;
                margin-top: -10px;

                .pageName {
                    font-family: tokens.$font-tenez;
                    font-style: italic;
                    font-size: tokens.$fs-md;
                    color: tokens.$black;
                }

                span {
                    display: block;
                    will-change: transform, opacity, filter;
                }
            }
        }
    }
}