@use '@/app/_styles/tokens.scss' as tokens;
@use '@/app/_styles/mixins.scss' as mixins;

.content {
    width: 100%;
    max-width: 908px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: tokens.$spacing-4;

    a {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            right: 0;
            width: 100%;
            height: 0.5px;
            background: tokens.$gray;
            overflow: hidden;
            transition: width 0.35s cubic-bezier(0.16, 1, 0.3, 1);
        }

        &:hover {
            &::after {
                width: 0;
                transition: width 0.35s cubic-bezier(0.16, 1, 0.3, 1);
            }
        }
    }
}