@use '@/app/_styles/tokens.scss' as tokens;

.imgWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 0px auto tokens.$spacing-7;

    border-radius: tokens.$radius-lg;
    background-color: tokens.$off-white;

    .img {
        object-fit: cover;
        border-radius: tokens.$radius-lg;
    }
}

.videoBlock {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 0px auto tokens.$spacing-7;

    border-radius: tokens.$radius-lg;
    background-color: tokens.$off-white;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: tokens.$radius-lg;
    }
}

.paragraph {
    width: 100%;
    max-width: 676px;
    margin: 0px auto tokens.$spacing-7;
}

.h1 {
    width: 100%;
    max-width: 676px;
    margin-bottom: tokens.$spacing-7;

    font-size: tokens.$fs-4xl;
    color: tokens.$black;

    @media screen and (max-width: tokens.$breakpoint-md) {
        font-size: tokens.$fs-3xl;
    }
}

.h2 {
    width: 100%;
    max-width: 676px;
    margin-bottom: tokens.$spacing-7;

    font-size: tokens.$fs-3xl;
    color: tokens.$black;

    @media screen and (max-width: tokens.$breakpoint-md) {
        font-size: tokens.$fs-2xl;
    }
}

.h3 {
    width: 100%;
    max-width: 676px;
    margin: 0px auto tokens.$spacing-7;

    font-size: tokens.$fs-2xl;
    color: tokens.$black;

    @media screen and (max-width: tokens.$breakpoint-md) {
        font-size: tokens.$fs-xl;
    }
}