@use '@/app/_styles/tokens.scss' as tokens;

.blocksContainer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-7;
}

.textBlock {
    width: 100%;
    max-width: 676px;
    margin: 0 auto;

    div {
        display: flex;
        flex-direction: column;
        gap: tokens.$spacing-4;

        h1, h2, h3 {
            color: tokens.$black;
        }
    
        p {
            font-size:16px;
            line-height: tokens.$lh-relaxed;
            color: tokens.$gray;
        }

        ul, ol {
            display: flex;
            flex-direction: column;
            gap: tokens.$spacing-2;

            padding-left: tokens.$spacing-4;

            font-size: 16px;
            line-height: tokens.$lh-relaxed;
            color: tokens.$gray;
        }
    }

}

.fullWidthImage {
    position: relative;

    width: 100%;
    overflow: hidden;

    aspect-ratio: 16/9;

    border-radius: tokens.$radius-lg;

    figcaption {
        margin-top: tokens.$spacing-2;
        font-size: tokens.$fs-xs;
        color: tokens.$gray;
        text-align: center;
    }
}

.galleryGrid {
    width: 100%;

    display: grid;

    gap: tokens.$spacing-4;

    &.cols2 { 
        grid-template-columns: 1fr 1fr;
    }

    &.cols3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: tokens.$breakpoint-md) {
        grid-template-columns: 1fr !important; // Mobile vira 1 coluna
    }

    .galleryItem {
        position: relative;

        width: 100%;
        overflow: hidden;

        aspect-ratio: 16/9;
        border-radius: tokens.$radius-lg;
    }
}

.mediaItem {
    object-fit: cover;
}