@use '@/app/_styles/tokens.scss' as tokens;

.testimonialWrapper {
    width: 100%;
    max-width: 808px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: tokens.$spacing-5;

    .icon {
        color: tokens.$black;
        opacity: 0.2;
    }

    .quote {
        font-size: tokens.$fs-2xl;
        line-height: tokens.$lh-normal;
        color: tokens.$black;
        margin: 0;

        @media (max-width: tokens.$breakpoint-md) {
            font-size: tokens.$fs-lg;
        }
    }

    .authorInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name {
            font-size: tokens.$fs-sm;
            color: tokens.$black;
        }

        .role {
            font-size: tokens.$fs-sm;
            color: tokens.$gray;
        }
    }
}