@use '@/app/_styles/tokens.scss' as tokens;
@use '@/app/_styles/mixins.scss' as mixins;

.clients {
    width: 100%;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: tokens.$spacing-7;

    .clientsContent {
        width: 100%;
        max-width: 676px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: tokens.$spacing-4;

        text-align: center;
    }
}