@use '@/app/_styles/tokens.scss' as tokens;

.singleWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-right: tokens.$spacing-5;
    padding-left: tokens.$spacing-5;

    @media (max-width: tokens.$breakpoint-md) {
        padding-right: tokens.$spacing-3;
        padding-left: tokens.$spacing-3;
    }

    .heroThumbnail {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;

        border-radius: tokens.$radius-lg;
        background-color: tokens.$off-white;
    
        .heroThumbnailImg {
            object-fit: cover;
        }
    }

    .infosWrapper {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: tokens.$spacing-4;

        @media (max-width: tokens.$breakpoint-md) {
            flex-direction: column;
            gap: tokens.$spacing-7;
        }

        .infoResume {
            flex: 2;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: tokens.$spacing-4;

            .servicesList {
                margin: 0;
                padding: 0;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                gap: tokens.$spacing-2;
                
                list-style: none;

                li {
                    padding: tokens.$spacing-2 tokens.$spacing-3;

                    background: transparent;
                    border: 1px solid rgba(tokens.$black, 0.2);
                    border-radius: 30px;

                    font-size: tokens.$fs-xs;
                    line-height: tokens.$lh-tight;
                    color: tokens.$gray;
                }
            }

            h2 {
                font-size: tokens.$fs-xl;
                line-height: tokens.$lh-relaxed;
                color: tokens.$black;
            }

            @media (max-width: tokens.$breakpoint-md) {
                width: 100%;
            }
        }

        .infoList {
            flex: 1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: start;
            align-items: start;
            grid-gap: tokens.$spacing-4;

            @media (max-width: tokens.$breakpoint-md) {
                width: 100%;
            }

            .infoItem {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: tokens.$spacing-1;

                .infoItemTitle {
                    font-size: tokens.$fs-xs;
                    line-height: tokens.$lh-relaxed;
                    color: tokens.$gray;
                }

                .infoItemValue {
                    font-size: 16px;
                    line-height: tokens.$lh-relaxed;
                    color: tokens.$black;
                }
            }
        }
    }
}