@use '@/app/_styles/tokens.scss' as tokens;

.singleWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-right: tokens.$spacing-5;
    padding-left: tokens.$spacing-5;

    @media (max-width: tokens.$breakpoint-md) {
        padding-right: tokens.$spacing-3;
        padding-left: tokens.$spacing-3;
    }
}